.liber_group {
    margin-top: 0.5rem;
    display: flex;
    position: relative;
}

.liber_group > div {
    align-self: flex-end;
    margin-bottom: 2rem;
    width: 1rem;
    height: 2px;
    background: black;
}

.liber_group > button {
    width: 80%;
}

.liber__leges_group {
        display: flex;
    position: relative;
    margin-left: 2rem;
}

.liber__leges_group > div {
       width: 2px;
    height: calc(100% - 0.8rem);
    background: black;
    position: absolute;
}

.liber__leges_group > ul {
        margin-top: 1rem;
    padding: 0;
    list-style: none;
}