




.form__search {
    display: flex;
    flex-direction: column;
}

.form__submit {
    margin: 1rem auto;
    /*background-color: black;*/
    display: block;
    padding: 0.4rem;
}

.form__choose_language {
    display: flex;
    flex-wrap: wrap;
}

.form__choose_language label {
    background-color: white;
    font-size: 1.1rem;
    padding: 0.3rem 0 0.3rem 0.3rem;
    background-color: rgba(255, 255, 255, 0);
    white-space: nowrap;


}

.form__choose_language select {
    /*border-style: none;*/
    font-size: 1.1rem;
    font-style: inherit;
    padding: 0.3rem 0.3rem 0.3rem 0;
    border: none;
    flex-grow: 1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}

.form__input {
    width: 100%;
    padding: 0.5rem;
       background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid black;
    box-shadow: 2px 2px 4px 1px rgba(66, 68, 90, 1);


}

