.main_lex {

}

.main_lex__redirections {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-around;

}

.main_lex__redirections a {
    text-decoration: none;
    color: black;
    border: 1px black solid;
    padding: 0.4rem;
    margin: 1rem 2rem;
    /*margin-top: 1rem;*/
    width: 50%;


}

.main_lex__text {
    margin: 1rem;
}

.main_lex__text p {
    display: block;
    text-align: justify;
}
