.main_toc {
    min-height: calc(100vh - 5rem);
    background: white;
    padding-bottom: 6rem;
}

.main_toc__title {
    margin-top: 0;
    padding-top: 1rem
}

.main_toc__items {
    list-style: none;
    padding-left: 0;
    text-align: left;
}
