.digesta_stats_jurists__title {
    margin-top: 8rem;
    text-align: center;
}

.digesta_stats_jurists__info {
    text-align: center;
    margin-top: 1rem;
}


.digesta_stats_jurists__form {
    display: flex;
    justify-content: center;
}

.digesta_stats_jurists__form label {
    /*background-color: white;*/
    /*font-size: 1.1rem;*/
    /*padding: 0.3rem 0 0.3rem 0.3rem;*/
    /*background-color: rgba(255, 255, 255, 0);*/
    /*white-space: nowrap;*/


}

.digesta_stats_jurists__form select {
    /*border-style: none;*/
    /*font-size: 1.1rem;*/
    font-style: inherit;
    /*padding: 0.3rem 0.3rem 0.3rem 0;*/
    border: none;
    background: none;
    /*flex-grow: 1;*/
    font-weight: bold;
    /*background-color: rgba(255, 255, 255, 0);*/
}