.main_jurist {
  /*padding: 0.5rem;*/
}

.main_jurist__link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: block;
  text-align: center;
  padding: 0.5rem;

  border-bottom: 1px solid black;
}

.chosen {
  background: black;
  color: white;
}
