
.main_header {
    flex-direction: column;
    min-height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    /*padding: 0.5rem 1rem;*/
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black
}

.toggle_button {
    width: 3rem;
    background: transparent;
    border: none;
    /*cursor: pointer;*/
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin: 0.5rem;
}

.toggle_button:focus {
    outline: none;
}

.toggle_button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main_header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
}

.main_header__brand img {
    height: 3.5rem;
    width: 3.5rem;
    vertical-align: middle;
    border-radius: 50%;
}

.nav__container {
    width: 100%;

    display: flex;
    align-items: center;
    flex: 1;
    align-content: center;



}

.main_nav {
    display: none;
}

.main_nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    /*justify-items: right;*/
}

.main_nav__item_space {
    flex-grow: 1;
}

.main_nav__item {
    height: 100%;
    /*margin: 0 1rem;*/
    /*width: 7rem;*/
    /*align-self: center;*/
    /*justify-self: right;*/
    /*margin-left: 1rem;*/
}

.main_nav__item {
    /*vertical-align: center;*/


}

.main_nav__item a, .main_nav__item > div {
    text-decoration: none;
    font-weight: bold;
    /*border: 1px solid black;*/
    height: 100%;
     color: white;
    display: table;



}

.main_nav__active a, .main_nav__active > div {
    color: black;
    background: white;
}
.main_nav__item a span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1rem;
}

.main_nav__login, .main_nav__logout, .main_nav__comments {
    margin: 0 1rem;
    display: flex;
    /*padding: 0.2rem;*/
    /*color: black;*/
    /*height: 100%;*/
    /*display: block;*/
}

.main_nav__login button, .main_nav__logout button {
    padding: 0.75rem;
    border: none;
    /*color: black;*/
    /*height: 100%;*/
    align-self: center;
    border-radius: 15px;
    /*vertical-align: middle;*/
    display: table-cell;
    font-weight: bold;
    background: #544207;
    color: white
}

.main_nav__comments button {
    padding: 0.3rem;
    /*border-radius: ;*/
    /*color: black;*/
    height: 100%;
    display: block;
    font-weight: bold;
    background: black;
    color: white;

}

.main_nav__comments button:hover, .main_nav__comments:active {
    cursor: pointer;
    background: white;
    color: black
}

.main_nav__login button:hover, .main_nav__logout button:hover,
.main_nav__login button:active, .main_nav__logout button:active {
    color: black;
    background: white;
    cursor: pointer;
}


.main_nav__item a:hover,
.main_nav__item a:active {
    background: white;
    color: black;
    /*border: none;*/
}

.main_nav__logout a:hover,
.main_nav__logout a:active,
.main_nav__login a:hover,
.main_nav__login a:active {
    background: #f4eeff;
    cursor: pointer;
}

@media (min-width: 40rem) {
    .toggle_button {
        display: none;
    }

    .main_nav {
        display: flex;
        align-self: stretch;
        width: 100%;

    }
}


/*.button {*/
/*    background: #0e4f1f;*/
/*    color: white;*/
/*    font: inherit;*/
/*    border: 1px solid #0e4f1f;*/
/*    padding: 0.5rem;*/
/*    border-radius: 8px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;
}

.open {
    display: block !important;
}

