
.opera_main {
    text-align: center;
}

.opera_main__title {

    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;
}


.opera_main__container {
    display: flex;
    flex-direction: column;

}


.opera__mobile_toc {
    display: block;
}

.opera__desktop_toc {
    display: none;
}

@media (min-width: 600px) {
    .opera__mobile_toc {
        display: none;
    }
    .opera__desktop_toc {
        display: block;
    }

}