.main_toc__item {

}

.main_toc__book {
    border: none;
    background: rgba(0, 0, 0, 0);
}

.main_toc__book:hover, .main_toc__book:active {
    cursor: pointer;
    font-weight: bold;
}

.main_toc__tituli {
    display: flex;
    position: relative;
    /*align-items: stretch;*/
}

.main_toc__tituli > div {
    position: absolute;
    /*margin: 2rem;*/
    width: 2px;
    display: block;
    background: black;
    height: calc(100% - 2rem);
}

.main_toc__tituli_items {
    list-style: none;
    padding: 0.1rem 0;
}

.main_toc__tituli_items > h4 {
    margin: 0.5rem;
    text-align: center;

}