

.trad_main {
    text-align: center;
}

.trad_main__title {

    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;
}


.trad_main__container {
    display: flex;
    flex-direction: column;

}

.trad_main__mobile_toc {
    display: block;
}

.trad_main__desktop_toc {
    display: none;
}

@media (min-width: 600px) {
    .trad_main__mobile_toc {
        display: none;
    }
    .trad_main__desktop_toc {
        display: block;
    }
}

