



.trad_main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    min-height: calc(100vh - 9rem);
}

/*.trad_main__title {*/

/*    padding: 1rem;*/
/*    font-size: 1.5rem;*/
/*    margin: auto;*/
/*}*/


.trad_main__container {
    display: flex;
    flex-direction: column;
}



.trad_main__title {
    padding-top: 2rem;
    background: linear-gradient(180deg, rgba(1,1,4, 0.8) 0%, rgba(41,43,15, 0.8) 65%, rgba(255,255,255,0) 100%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
}

.trad_main__mobile_toc {
    display: block;
}

.trad_main__desktop_toc {
    display: none;
}

.trad_main__outlet {
    width: 100%;
}

@media (min-width: 600px) {
    .trad_main__mobile_toc {
        display: none;
    }

    .trad_main__container {
        flex-direction: row;
    }
    .trad_main__desktop_toc {
        display: block;
        width: 15rem;
        position: fixed;
        overflow-y: scroll;
        height: calc(100% - 4rem);

    }

    .trad_main__outlet {
        /*flex-grow: 1;*/
        margin-left: 15rem;
    }

    .trad_main__title {
        display: none;
    }
}

