.comment_item {
    border: 1px solid black;
    margin-bottom: 1rem;
    text-align: left;
    /*position: relative;*/
    justify-items: center;
}

.comment_item__header {
    display: flex;

}

.comment_item__header label {
    flex-grow: 1;
    text-align: left;
    margin: 0.3rem;
    padding-left: 1rem;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.comment_item__header button, .comment_item__header span {
    padding: 0;
    margin: 0.3rem;
    border: none;
    background: rgba(255, 255, 255, 0);
}

.comment_item__header_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment_item__header_info data {
    margin-left: 1rem;
    font-size: 0.7rem;
}

.comment_item__container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.comment_item__text {
    text-decoration: none;
    flex-grow: 1;
    margin: 0.4rem;
    resize: none;
    background: rgba(255, 255, 255, 0.4);
    overflow-y: auto;
    word-wrap: break-word
}

.comment_item__actions {
    display: flex;
    flex-direction: column;
}

.comment_item__replies {
    list-style: none;
    padding-left:2rem;
    margin-right: 0.5rem;
}
/*.comment_item__actions button {*/
/*    padding: 0.2rem;*/
/*    margin: 0.2rem;*/
/*    font-size: 0.7rem;*/
/*}*/

