

.main_jurist__redirections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;

}

.main_jurist__redirections a {
    /*flex-grow: 0.5;*/
    width: 40%;
}

.main_jurist__redirections button {
    background-color: rgba(255,255, 255, 0.8);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    height: 100%;
    width: 100%;


}

.main_jurist__info {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(221, 221, 221, 0.8) 18%, rgba(255, 255, 255, 0.85) 50%, rgba(230, 230, 230, .8) 86%, rgba(0, 0, 0, 0) 100%);

}

.main_jurist__title {
    padding-top: 2rem;

}

.main_jurist__description {
    text-indent: 1.5rem;
    margin: 2rem;
    text-align: justify;
    padding-bottom: 2rem;
    font-style: inherit;
    font-size: 1.1rem;

}

.main_jurist__outlet_desktop {
    display: none;
}

@media (min-width: 600px) {
    .main_jurist__outlet_mobile {
        display: none;
    }

    .main_jurist__outlet_desktop {
        display: block;
        flex-grow: 1;
    }

    .main_jurist {
        display: flex;
    }
    .main_jurist__outlet_desktop {
        width: 16rem;
    }
    .main_jurist__container {
        width: 100%;
        flex-grow: 1;
    }

}