.main_jurist__redirections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.main_jurist__redirections a {
  text-decoration: none;
  color: black;
  display: table;
  /*flex-grow: 0.5;*/
  /*width: 40%;*/
  /*flex-grow: 0.2*/
  /*width: 14rem;*/
  border: 2px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 1 1 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .main_jurist__redirections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

  .main_jurist__redirections a {
    margin: 3rem;
  }
}

.main_jurist__redirections a span {
  display: table-cell;
  vertical-align: middle;
}

.main_jurist__redirections a:hover,
.main_jurist__redirections a:active {
  background: black;
  color: white;
}

.main_jurist__title_group {
  display: flex;
  margin: 0 0.5rem;
}

.pie {
  height: 15rem;
  width: 15rem;
}
.main_jurist__info {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(221, 221, 221, 0.8) 18%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(230, 230, 230, 0.8) 86%,
    rgba(0, 0, 0, 0) 100%
  );
}

.main_jurist__title {
  padding-top: 2rem;
  flex-grow: 1;
  align-self: center;
}

.main_jurist__description {
  text-indent: 1.5rem;
  margin: 2rem;
  text-align: justify;
  padding-bottom: 2rem;
  font-style: inherit;
  font-size: 1.1rem;
}

.main_jurist__outlet_desktop {
  display: none;
}

@media (min-width: 600px) {
  .main_jurist__outlet_mobile {
    display: none;
  }

  .main_jurist__outlet_desktop {
    display: block;
    flex-grow: 1;
  }

  .main_jurist {
    display: flex;
  }
  .main_jurist__outlet_desktop {
    width: 16rem;
  }
  .main_jurist__container {
    width: 100%;
    flex-grow: 1;
  }
}
