.main {
    /*background: white;*/
    /*min-height: 100vh;*/
    /*width: 100%;*/
    /*margin-top: 5rem;*/
}

.main_title {
    margin: 10rem 5rem 2rem 5rem;
    text-indent: 3rem;
    text-align: justify;
}

.main_title:first-letter {
    initial-letter: 2 1;
}

.main_info__container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-content: center;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-around;*/
}


.main_subtitle {
    /*margin: 1rem 6rem;*/
    text-align: center;

}

.main_info {
    margin: 1rem 2rem;
    text-align: justify;
    text-indent: 1rem;
}

.main_items {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style: none;
    justify-content: space-around;
    align-items: center;

    /*margin-left: 7rem;*/
}



.main_items > li {
    font-size: 1.4rem;
}

.main_items_leges {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.main_items_leges > li {
    padding: 0.5rem;
    font-weight: bolder;

}

.main_actions {
    display: flex;
    justify-content: space-around;
}

.main_actions a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}


