.main_toc__opus {
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.1);
    width: 80%;
    font-size: 1.2rem;
    margin-top:1rem;

}

.main_toc__opus:hover, .main_toc__opus:active {
    cursor: pointer;
    font-weight: bold;
}

.main_toc__libri {
    display: flex;
    position: relative;
}


.main_toc__libri_items {
    list-style: none;
    padding: 0.1rem 0;

    margin-left: 1rem;
}


.main_toc__libri_items li:last-child > div:first-of-type {
        display: none;

}

.main_toc__libri_items li:first-child > div:first-of-type {
    display: block;
}

