.main_toc__opus {
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.1);
    width: 10rem;
    margin-top: 1rem;

}

.main_toc__opus:hover, .main_toc__opus:active {
    cursor: pointer;
    font-weight: bold;
}

.main_toc__libri {
    display: flex;
    position: relative;
}

.main_toc__libri > div {
    position: absolute;
    /*margin: 2rem;*/
    width: 2px;
    display: block;
    background: black;
    height: calc(100% - 2rem);
}

.main_toc__libri_items {
    list-style: none;
    padding: 0.1rem 0;
}

.main_toc__libri_items > div {
       width: 2px;
    height: calc(100% - 0.8rem);
    background: black;
    position: absolute;
}

.main_toc__libri_items > ul {
        margin-top: 1rem;
    padding: 0;
    list-style: none;
}
